/* .container1 {
    display: flex;
    position: relative;
    white-space: 10px;
    background: grey;
    justify-content: center;
    height: 400px;
}

.container2 {
    background: red;
}

.boton {
    font-size: 14px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 4px;
}

.input {
    margin-top: 3px;
    font-size: 10px;
    position: relative;
    margin-bottom: 4px;
    justify-self: center;
}

.name {
    background-color: rgba(187, 39, 240, 0.644);
    margin-top: 3px;
    position: relative;
    margin-bottom: 4px;
    justify-self: center;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.contra {
    background-color: rgba(187, 39, 240, 0.644);
    margin-top: 3px;
    position: relative;
    margin-bottom: 4px;
    justify-self: center;
    color: white;
    font-size: 14px;
    border-radius: 5px;
} */