.titulo {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.646);
    color: white;

}

.cuerpo {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.646);
    color: white;
}

.oe {
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0.463);
    color: white;
}