.Card {
    /* position: relative;
    top: -120px; */
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center; */
    /* flex-wrap: nowrap; */
}

/* .BotonCard {
    background: red;
    border-radius: 8px;
    position: relative;
    top: 146px;
    left: 92px;
    color: white;
} */

/* 
.Cardtextname {
    font-size: 18px;
    background: rgba(88, 82, 82, 0.557);
    width: 130px;
    border-radius: 20px;
    position: relative;
    top: 300px;
    color: white;
}

.Cardtexspecies {
    font-size: 15px;
    position: relative;
    top: 289px;
    left: 110px;
    width: 90px;
    border-radius: 20px;
} */
/* 
.Cardgender {
    font-size: 15px;
    position: relative;
    top: 257px;
    left: 20px;
    width: 80px;
    border-radius: 20px;
} */

/* .imgCard {
    width: 220px;
    border-bottom: 20px;
    background: white;
    padding-bottom: 30px;
    border-radius: 20px;
} */