.App {
   text-align: center;
   background-image: URL('../src/assets/fonfo.jpg');
}

.ContainerCard {
   display: flex;
   justify-content: center;
}

.ContainerSeach {
   position: relative;
   top: -213px;
}