.nav1 {
    background-color: rgba(13, 0, 255, 0.356);
    height: 90px;
    border-radius: 8px;
}

.home {

    top: 40px;
    background-color: rgb(161, 23, 159);
    border-radius: 8px;
    right: 340px;
    color: rgb(232, 242, 232);
    justify-content: center;
    align-items: center;
}

.about {
    top: 40px;
    background-color: rgb(161, 23, 159);
    border-radius: 8px;
    right: 320px;
    color: rgb(232, 242, 232);
    justify-content: center;
    align-items: center;
}